body {
  padding: 20px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 10px;
}

a:hover {
  text-decoration: none !important;
  color: #00af91 !important;
}

.showComments {
  color: #0275d8 !important;
}

.showComments:hover {
  color: #00af91 !important;
}

th {
  background-color: #252525;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* End Switch */

.spinner {
  position: fixed;
  top: 47.5%;
  left: 47.5%;
}

@media (max-width: 600px) {
  body {
    padding: 0;
    font-size: 10px !important;
  }
}
